body {
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
}

line {
  stroke-width: 2;
}

#chart_container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: repeating-linear-gradient(
    45deg,
    #eee,
    #eee 10px,
    #e5e5e5 10px,
    #e5e5e5 20px
  );
  border: 1px solid black;
}

.flowchart-example-container {
  height: 200px;
  border: 1px solid #bbb;
  margin-bottom: 10px;
}

.flowchart-operator-title {
  width: 80%;
}

#example {
  width: 2000px;
  height: 2000px;
  background: white;
}

.draggable_operators_label {
  margin-bottom: 5px;
}

.draggable_operators_divs {
  margin-bottom: 20px;
}

.draggable_operator {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  border: 1px solid #ccc;
  cursor: grab;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rectangle {
  width: 200px;
  height: 30px;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.item-count-inside-canvas {
  display: table-cell;
  height: 60px;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  vertical-align: middle;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
}

.centerText {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.flowchart-span-title {
  width: 100%;
  word-break: break-all;
  font-size: 0.8em;
  line-height: 12px;
  vertical-align: -webkit-baseline-middle;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.flowchart-operator-inputs-outputs-circle {
  /* position: absolute;
  top: 35%; */
}

.diamond-title-height {
  height: 30px;
}

.connector-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid green;
}

.decider-container {
  width: 300px;
  height: 300px;
}
